body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  
  
  .login-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px #00ff1e;
  }
  
  h1 {
    text-align: center;
    color: bisque;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: bisque;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #005F40;
    color: bisque;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005F40;
  }
  
  .additional-options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .additional-options a {
    text-decoration: none;
    color: #db3434;
  }

  
  
  .additional-options a:hover {
    text-decoration: underline;
  }