body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #000000;
  }
  
  header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
  }
  
  .logo-container img {
    max-width: 80%;
  }
  
  main {
    padding: 20px;
  }

  h2{
    color: bisque;
  }

  .ooo{
    display: flex;
    justify-content: center;
  }

  .navbar {
    background-color: #2C2B2B;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar a {
    text-decoration: none;
    color: bisque;
  }
  
  .content {
    display: flex;
  }
  
  .issue-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .issue-form h2 {
    text-align: center;
  }
  
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    resize: vertical;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .back-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #c0392b;
  }
  
  button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  .conversation-history {
    flex-basis: 300px;
  }
  
  .search-bar {
    margin-bottom: 10px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .conversation-history h2 {
    text-align: center;
  }
  
  .conversation-history ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .conversation-history li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
  }
  
  .conversation-history .user {
    background-color: #3498db;
    color: #fff;
  }
  
  .conversation-history .support {
    background-color: #2ecc71;
    color: #fff;
  }  

  aside{
    box-shadow: 0 0 10px #00ff1e;
    align-items: first baseline;
  }